body {
    font-family: Calibri;
}

.temp {
    font-size: 40px;
    text-align: center;
}

.timer {
    font-size: 40px;
    text-align: center;
}

.slider {
    display: inline;
    -webkit-appearance: none;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    width: 90%;
    margin-left: 5%;
    /*background: linear-gradient(to right, rgb(40, 167, 69), rgb(247, 32, 32));*/
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .tempRange {
      visibility: hidden;
      display: none;
    }
  }